<h1>Stupid Coaching</h1>
<%= @question %> <em><p>-You</p></em>

<div class = "results">
<strong><%= @result %></strong> <em><p>-Your Coach</p></em>
</div>

<%= link_to "Ask another question", ask_path %>

